<div class="sideheader">
    <button mat-button (click)="drawer.toggle()" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
      <mat-icon>menu</mat-icon>
    </button>



  <div class="input-group" style="float:right;">
    <div class="form-outline">
      <input type="search" id="form1" class="form-control" />
      <label class="form-label" for="form1"></label>
    </div>
    <button type="button" class="btn btn-primary" >
      Search
      <i class="fas fa-search"></i>
    </button>
  </div>

<mat-drawer-container class="example-container" autosize>

  
   
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
       <li><a routerLink="/mat-examples" routerLinkActive="active" ariaCurrentWhenActive="page">Angular Materials Examples.</a></li>
        <li><a routerLink="/mat-examples2" routerLinkActive="active" ariaCurrentWhenActive="page">Angular Materials Examples 2</a></li>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
     
    </mat-drawer>
  
    <div class="example-sidenav-content">
      
      <router-outlet></router-outlet>
      
    </div>

  </mat-drawer-container>

</div>