<div class="sideheader">
  <button type="button" mat-button (click)="drawer.toggle()">
    Toggle sidenav
  </button>


  <div class="input-group" style="float:right;">
    <div class="form-outline">
      <input type="search" id="form1" class="form-control" />
      <label class="form-label" for="form1"></label>
    </div>
    <button type="button" class="btn btn-primary" >
      Search
      <i class="fas fa-search"></i>
    </button>
  </div>

<mat-drawer-container class="example-container" autosize>

  
    <!-- <li><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li> -->
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
     
    </mat-drawer>
  
    <div class="example-sidenav-content">
      
      <router-outlet></router-outlet>
      
    </div>

  </mat-drawer-container>

</div>