.example-card {
    max-width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  